@charset "UTF-8";
strong {
    text-shadow: 0px 0px 0.5em rgba(0,188,255,1);
    letter-spacing: 1px;
    font-family: Orbitron;
}
a {
    text-decoration: underline;
}
a:hover, a.btn {
    text-decoration: none;
}
.site-wrapper {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
    .site-wrapper a.btn {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        font-family: Orbitron;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        transition: 0.2s;
    }
    .site-wrapper a.btn:hover {
        background: rgba(255, 255, 255, 0.4);
    }
.description {
    margin-top: 48px;
}
.lead {
    font-size: 18px;
    margin-bottom: 12px;
}
.date  {
    font-size: 24px;
}
.heading {
    font-family: monospace;
    letter-spacing: 1px;
    font-family: Orbitron;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 0px 0px 0.5em rgba(0,188,255,1);
}
.heading#countdown {
    font-family: monospace;
}
.notes {
    font-size: 21px;
}
.section {
    padding-top: 48px;
}
    .section .heading {
        margin-bottom: 18px;
        font-size: 36px;
    }
    .section .prize {
        font-size: 32px;
        letter-spacing: 1px;
        font-family: Orbitron;
    }
    .section .comment {
        margin-top: -12px;
    }
    .section .btn {
        margin-top: 12px;
        padding: 20px 0;
        font-size: 20px;
        width: 360px;
    }
    .section .container {
        padding-top: 18px;
        text-align: left;
        margin: 0 auto;
        width: 640px;
        background: rgba(0,0,0,0.4);
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    }
    .section li {
        line-height: 32px;
        font-size: 16px;
        padding-bottom: 18px;
    }

a.bullseye.btn {
    padding: 18px 0;
    margin: 12px auto;
    display: block;
    text-shadow: 0px 0px 0.5em rgba(0,188,255,1);
    font-weight: bold;
    font-size: 32px;
    width: 360px;
}
a.archive.btn {
    margin-right: 8px;
    width: 240px;
}
a.archive.btn:last-child {
    margin-right: 0;
}

#finalist {
    font-size: 18px;
}
    #finalist .table caption {
        padding: 24px;
        font-family: Orbitron;
        text-align: center;
        color: #fff;
    }
    #finalist .table td {
        border-top: 1px solid rgba(255,255,255,0.3);
    }
    #finalist .table tr:first-child td {
        border-top: 0;
    }
    #finalist .table td {
        padding: 18px 0;
        width: 50%;
        text-align: center;
    }

.footer {
    margin-top: 24px;
    color: #999;
    color: rgba(255,255,255,.5);
}
